@{
    string msg = ViewData["msg"] as string;

}


<div class="auth-wrapper d-flex no-block justify-content-center align-items-center position-relative"
     style="background:url(../assets/images/big/auth-bg.jpg) no-repeat center center;">
    <div class="auth-box row">
        <div class="col-lg-7 col-md-5 modal-bg-img" style="background-image: url(/img/login/로그인이미지.png);">
        </div>
        <div class="col-lg-5 col-md-7 bg-white">
            <div class="p-3">
                <div class="text-center">
                </div>
                <h2 class="mt-3 text-center">Sign In</h2>
              
                     @if(string.IsNullOrWhiteSpace(msg) == false)
                    {
                              <div class ="alert alert-orange">사번번호는 @msg 입니다.</div>

                    }

                <form class="mt-4" id ="form1" method = "post" action = "/login/login">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label class="text-dark" for="name">사원번호</label>
                                <input name = "member_seq" class="form-control" id="member_seq" type="text"
                                       placeholder="사원번호를 입력해주세요.">
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label class="text-dark" for="pwd">Password</label>
                                <input name = "password" class="form-control" id="pwd" type="password"
                                       placeholder="비밀번호를 입력해주세요.">
                            </div>
                        </div>
                        <div class="col-lg-12 text-center">
                            <button type="submit" class="btn btn-block btn-dark">로그인</button>
                        </div>
                        <div class="col-lg-12 text-center mt-5">
                            계정이 없으시다면? <a href="/login/register" class="text-danger">회원가입</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
